<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Stuck in Red Tape? Report LA Building Issues | Red Tape LA" %></title>
    <meta name="description" content="Report problems with LA's building process—permits, inspections, zoning, fees, and more. Help us document bureaucratic delays and advocate for policy reforms.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <!-- Standard favicon files -->
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/redtape_favicon.svg" type="image/svg+xml">
  <link rel="icon" href="/favicon-16x16.png" type="image/png" sizes="16x16">
  <link rel="icon" href="/favicon-32x32.png" type="image/png" sizes="32x32">

  <!-- Apple / Android touch icons -->
  <link rel="apple-touch-icon" href="/favicon-180x180.png">
  <link rel="apple-touch-icon" sizes="192x192" href="/favicon-192x192.png">
  <link rel="apple-touch-icon" sizes="512x512" href="/favicon-512x512.png">

  <!-- Fallback icons & theme -->
  <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
